.content__contact {
    /* background-color: #0f172a; */
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    padding-bottom: 100px;

    p{
        font-family: 'Courier New', Courier, monospace;
        color: white;
    }
}

.content__contact .title {

    background: linear-gradient(45deg, #f4f5f6, #0a1e1e, #0c717c,
    #fcfafa, #021507, #dbd5d3);
    border-radius: 10px;
    background-size: 600% 600%;
    animation: backgroundMove 5s infinite;
}

@keyframes backgroundMove {
    0% {
        background-position: 0% 0%;
        box-shadow: 5px 0px 10px #2bc2cd;

    }

    40% {
        background-position: 50% 100%;
        box-shadow: 5px 0px 10px #0e6e9a;
    }

    60% {
        background-position: 100% 100%;
        box-shadow: 5px 0px 10px #1f2404;
    }


    100% {
        background-position: 0% 0%;
        box-shadow: 5px 0px 10px #2bc2cd;
    }
}

.content__contact .title .__btn {

    border: none;
    margin: 10px;
    border-radius: 10px;
    background-color: #0e2036cb;
    font-family: var(--fontRoboto), Courier, monospace;
}

.content__contact .__btn span {
    font-weight: bolder;

    background: linear-gradient(270deg,  #f4f5f6, #e0dfcc, #0f0103,
    #17d4e9, #29550a, #dbd5d3);
    background-size: 600% 600%;
    color: transparent;
    background-clip: text;
    animation: backgroundMovespan 5s infinite;
}

@keyframes backgroundMovespan {
    0% {
        background-position: 100% 50%;
    }

    50% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 0%;
    }
}

.content__contact .title:hover{
    animation: bibrate .3s 1 forwards;
}

@keyframes bibrate {
    0%{
        transform: rotate(0deg);
        scale: 100%;
    }
    25%{
        transform: rotate(10deg);
        scale: 105%;
    }
    
    50%{
        transform: rotate(0deg);
        scale: 110%;
    }
    
    74%{
        transform: rotate(-10deg);
        scale: 115%;
    }
    
    100%{
        scale: 120%;
        transform: rotate(0deg);
        box-shadow: 5px 0px 10px #FDD3BB;
    }

}