.content__contact {
    /* background-color: #0f172a; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 100px;

    animation-name: _entry001;
    animation-duration: 1ms;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-fill-mode: both;
    animation-timeline: view();
    animation-range: entry 15% 15%;

    p {
        font-family: 'Courier New', Courier, monospace;
        color: #1A1818;

        a {
            text-underline-offset: 2px;
        }
    }

}

@keyframes _entry001 {
    from {
        background-color: #1A1818;
    }

    /* 80%{
        background-color: #1A1818;    
      } */
    to {
        background-color: #ECE7E1;
    }
}

.content__contact .title .__btn {
    background-color: #ECE7E1;

    margin: 10px;
    font-weight: 450;
    text-wrap: nowrap;
    color: #1A1818;
    position: relative;
    cursor: pointer;
    transition: all .1s linear;
    font-family: var(--moda);

    font-weight: bold;
    font-size: larger;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.__btn:hover {
    transform: scale(1.1);
    box-shadow: inset -1px -3px 3px rgba(0, 0, 0, 0.325);
    color: #623711 !important;
}