.content__expersite {
  font-family: var(--fontRoboto);
  /* font-family:'Grandslang roman, sans-serif'; */
  animation-name: _entry;
  animation-duration: 1ms;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-fill-mode: both;
  animation-timeline: view();
  animation-range: entry 15% 15%;
  /* padding-left: 0px !important; */

}

._pageHead {
  /* height: 40vh; */
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: xx-large;
  /* padding: 15px 20px; */
  /* background-color: aqua; */
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 10vw;

  position: relative;

  ._head {
    font-family: var(--moda);
    text-transform: uppercase;
    border-bottom: solid;
    opacity: 0;
    color: #ECE7E1;
    text-shadow: 0px 0px 1px #1A1818;
  }

  ._frase {
    inset: 50px 1 1 1;

    color: #1A1818;
  }
}

@keyframes _entry {
  from {
    opacity: 0;
  }

  80% {
    opacity: 0;

  }

  to {
    opacity: 1;
  }
}
@keyframes _entrybook {
  from {
    /* opacity: 0; */
    background-position: 0% 0%;
  }

  80% {
    /* opacity: 0; */
    background-position: 100% 100%;

  }

  to {
    /* opacity: 1; */
    background-position: 0% 0%;
  }
}


/* ------------------------------------------- */
._paperBook {

  display: flex;
  flex-direction: column;

  color: #ECE7E1;
  background-color: #1A1818;
  font-family: var(--fontRoboto);
  padding-left: 50px;


}



._content_devs {
  padding: 100px 0 150px 0;
}

._content_devs ._txt {
  animation-name: _entry;
  animation-duration: 1ms;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-fill-mode: both;
  animation-timeline: view();
  animation-range: entry 30% 30%;
}

._content_devs ._txt ._child {
  /* width: 600px; */
  /* max-width: 600px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: start;


}


._icons_content {

  display: flex;
  align-content: start;

  /* font-family: var(--swanky); */
  ._title {
    /* text-shadow: 1px -1px 1px rgba(5, 55, 59, 0.727); */
    color: #1A1818;
    font-weight: bolder;
    max-width: 720px;
    text-transform: uppercase;

  }

  ._phare {
    color: #1A1818;
    max-width: 720px;
    font-family: Montserrat, sans-serif;
    font-size: 15px;

  }
}

@media screen and (max-width:1000px) {
  ._icons_content {
    flex-wrap: wrap !important;
  }
}
