.content__home {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.content__home .description {
 
    font-family:var(--fontSofadi) ;
    max-width: 700px;
    padding: 10px;
    border-radius: 10px;
    color: #5FB1B4;
    text-shadow: 1px 1px 1px rgb(1, 11, 25);
}