.content__home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-right: 55px;
}

.content__home .title {
    font-size: 10vw;
    font-family:var(--fontProtest) ;
}

.content__home .description {
    background-color:#550a31a1;
    font-size: x-large;
    font-family:var(--fontRoboto) ;
    max-width: 700px;
    padding: 10px;
    border-radius: 10px;
    color:antiquewhite;
}