.content__body__project {
  font-family: var(--moda);

  text-transform: uppercase;

  color: #ECE7E1;
  background-color: #1A1818;

  padding-left: 50px;

  ._title {
    width: 100%;
    background-color: #1A1818;
    padding-bottom: 10px;
    position: sticky;
    top: 0;
    border-bottom: 1px solid;
    z-index: 1;

  }

}


.content__body__project ._content_card {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding: 30px;
  flex-direction: column;
  font-size: 6vw;
  position: relative;

  ._subTitle {
    animation-name: _entry;
    animation-duration: 1ms;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-fill-mode: both;
    animation-timeline: view();
    animation-range: entry 10% 20%;

  }

  ._info {
    font-family: var(--fontRoboto);
    color: rgb(255, 255, 255);
    text-transform: none;
  }

  ._sub {
    cursor: pointer;
    font-weight: 500;
    transition: all .1s linear;
    text-shadow: 0 0 10px #1A1818;
    text-align: end;
  }

  ._sub:hover {
    color: rgb(247, 248, 181);
    /* font-weight: bold; */
  }
}


/* ------------------ */

.content__body__project ._body {
  display: flex;
  position: relative;

  /* ._content_img {
    position: absolute;
    height: 100%;
    inset: 0;
    animation-name: _entry;
    animation-duration: 1ms;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-fill-mode: both;
    animation-timeline: view();
    animation-range: entry 0% 20%;
    ._img {
      position: sticky;
      top: 82px;
      width: 500px;
      height: 300px;
      transition: opacity 0.4s linear;


      ._item_first {
        border-radius: 0 0 25px 0;
        background-position: center;
        background-size: cover;
        opacity: 1;
        transition: opacity 0.4s linear;
      }

      ._img_second {
        border-radius: 0 0 25px 0;
        background-position: center;
        background-size: cover;
        position: absolute;
        inset: 0;
        opacity: 0;
        transition: opacity 0.4s linear;

      }
    }

    ._img::after {
      content: "";
      border-radius: 0 0 25px 0;
      position: absolute;
      inset: 0;
      background-color: rgba(0, 0, 0, 0.6);
      z-index: 2;
    }
  } */

  ._content_card {
    flex: 1;
  }
}

._body ._smgCardImg {
  position: absolute;
  /* height: 100%; */
  inset: 0;

  .content_img {
    padding: 20px;
    position: sticky;
    top: 90px;
    /* border: solid rgb(1, 1, 1); */
    z-index: 1;
    height: 200px;
    width: 350px;

    ._imgs {

      position: relative;
      height: 100%;
      div {
        position: absolute;
        background-size: cover;
      }

      ._first {
        z-index: 0;
      }

      ._second {
        /* inset: 20px; */
        /* padding: 20px; */
        z-index: 0;
      }
    }
  }
}

@media screen and (max-width:1100px) {
 .content__body__project ._content_card{
  margin-top: 200px;
 }
}

@media screen and (max-width:768px) {
  ._smgCardImg {
    display: none;
  }

  ._content_card {
    align-items: start;

    ._sub {
      text-align: start !important;
    }

    ._content_info {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}

/* ----------------------------------- */

._detailsProyect {
  position: fixed;
  z-index: 10;
  color: red;
  inset: 0;
  background-color: #1A1818;
  overflow: hidden;
  transition: opacity .8s linear;
}


._detailsProyect ._content {
  width: 100%;
  max-width: 720px;
  margin: auto;
  height: 100%;
  position: relative;
}

._content ._body {
  height: calc(100% - 50px);
  display: flex;
  position: relative;
  overflow-x: hidden;
}

._body ._cardDetails_copy,
._body ._cardDetails_original {
  position: absolute;
  inset: 0;
  font-family: var(--fontRoboto);
  background-color: #ECE7E1;
  content-visibility: auto;
  contain-intrinsic-size: 100% 100%;
  overflow: auto;
  padding: 10px;
  color: black;

  ._subtitle {
    color: brown;
  }
}

._body ._cardDetails_copy {

  /* background-color:red; */
}

._body ._cardDetails_original {

  /* background-color: rgba(0, 255, 255, 0.218); */
}


._content ._btnClose {
  position: absolute;
  right: 20px;
  top: 0;
  z-index: 1;
}

/* -------------- */
._content ._footer01 {
  height: 50px;

  margin-bottom: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}