
.content__skil__body{
  margin: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  position: relative;
  overflow-x: hidden;

}


.content__skil__body .content__sphere__content{
  top: 100px;
  position: relative;
}

@media screen and (max-width:600px) {
  .content__skil__body .content__sphere__content{
    transform: scale(0.85,0.85);
  }
}

@media screen and (max-width:500px) {
  .content__skil__body .content__sphere__content{
    transform: scale(0.8,0.8);
  }
}

@media screen and (max-width:400px) {
  .content__skil__body .content__sphere__content{
    transform: scale(0.7,0.7);
  }
}

@media screen and (max-width:300px) {
  .content__skil__body .content__sphere__content{
    transform: scale(0.6,0.6);
  }
}


.content__sphere__content .content__point{
  perspective: 499px; 
  position: relative;
  top: -50px;
}


.content__sphere__content .content__platform{
  height: 300px;
  perspective: 499px; 
}


.content__platform .platform{
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 499px; 

  border-bottom: none;
  box-shadow: 0px 7px 7px #16413d;
  height: 500px;
  left: -190px;
  object-fit: cover;
  overflow: hidden;
  overflow: hidden;
  position: absolute;
  top: 10px;
  transform-style: preserve-3d;
  transform: rotate3d(1,0, 0, 90deg);
  width: 400px;
  z-index: -1;

}


.content__point .point,
.platform .point__copy{
  position: absolute;
  will-change: transform;
  color: #90c5ed;
  font-size: x-small;
  text-shadow: 1px 1px 1px black;
  transition: transform 1s linear,color 1s linear;
  font-family:var(--fontSofadi), 'Courier New', Courier, monospace;  
  
}
.platform .point__copy{
  filter: blur(.5px);
  color: rgb(52, 72, 147);
  font-family:var(--fontSofadi), 'Courier New', Courier, monospace;

}

.txt_back{
  color: red !important;
}

/* --------------SKILS */

.content__skil__body
.skils{
  position: absolute;
  left: 0px;
  bottom: 20px;
}

.skils
.skil_name{
  padding: 0;
}

.skils
.skil_name li{
  width: 150px;
  position: relative;

  border: 1px solid yellow;
  border-left: 0px;
  border-radius: 0 20px 20px 0;
  list-style: none;
  height: 10px;
  scale: 70%;
  margin-bottom: 15px;
}
.skils
.skil_name li p{
  border-radius: 0 20px 20px 0;
  color: #edd206;
  padding-top: 4px;

}

.skils
.skil_name li p span{
  position: absolute;
  top: 0px;
  height: 10px;
  left: 0%;
  width: 50%;
  background: #edd206;
  }

.skils .skil_name .--title{
  text-shadow: 1px 1px 1px black;
  font-family: var(--fontSofadi);
}

.content__skil__body .--footer{
  position: absolute;
  width: 25%;
  left: 10px;
  top: 100px;
  font-family: var(--fontSofadi);
  text-shadow: 1px 1px 1px black;
}


@media (max-width: 576px) { 
  .content__skil__body
  .skils {
      left: auto;
      right: 0;
  }

  .content__skil__body .--footer{
    position: absolute;
    width: 90%;
    left: 10px;
    top: 100px;
  }
  
}


