
.content__skil__body{
  margin: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  position: relative;
  overflow-x: hidden;

}

.content__skil__body .content__sphere__content{
  top: 100px;
  position: relative;
}


.content__sphere__content .content__point{
  perspective: 499px; 
  position: relative;
  top: -50px;
}


.content__sphere__content .content__platform{
  height: 300px;
  perspective: 499px; 
}


.content__platform .platform{
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 499px; 

  border-bottom: none;
  box-shadow: 0px 7px 7px #4d4d49;
  height: 500px;
  left: -190px;
  object-fit: cover;
  overflow: hidden;
  overflow: hidden;
  position: absolute;
  top: 10px;
  transform-style: preserve-3d;
  transform: rotate3d(1,0, 0, 90deg);
  width: 400px;
  z-index: -1;

}


.content__point .point,
.platform .point__copy{
  position: absolute;
  will-change: transform;
  color: #90c5ed;
  text-shadow: 1px 1px 1px black;
  transition: transform 1s linear,color 1s linear;
  font-family:var(--fontSofadi), 'Courier New', Courier, monospace;  
  
}
.platform .point__copy{
  filter: blur(.5px);
  color: rgb(52, 72, 147);
  font-family:var(--fontSofadi), 'Courier New', Courier, monospace;

}

.txt_back{
  color: red !important;
}

/* --------------SKILS */

.content__skil__body
.skils{
  position: absolute;
  left: 0px;
  bottom: 20px;
}

.skils
.skil_name{
  padding: 0;
}

.skils
.skil_name li{
  width: 150px;
  position: relative;

  border-radius: 0 20px 20px 0;
  list-style: none;
  height: 10px;
  border: 1px solid yellow;
  scale: 70%;
  margin-bottom: 15px;
}
.skils
.skil_name li p{
  border-radius: 0 20px 20px 0;
  color: #edd206;
  padding-top: 4px;
}

.skils
.skil_name li p span{
  position: absolute;
  top: 0px;
  height: 10px;
  left: 0%;
  width: 50%;
  background: #edd206;

}


@media (max-width: 576px) { 
  .content__skil__body
  .skils {
      left: auto;
      right: 0;
  }
}


