.content_animation_letters {
    width: 100%;
    height:100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;

}
.content_animation_letters .content__txt__general{
  position: absolute;
}


.content_animation_letters .content__txt__home{
  display: flex;  
  flex-wrap: nowrap;
  position: absolute;
  top:100px;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.content_animation_letters .content__txt__skill{
  display: flex;  
  flex-wrap: nowrap;
  position: absolute;
  width: 100%;
  top: 20px;
  right: 40px;
  justify-content: end;
}

.content_animation_letters .content__txt__project
{
  display: flex;  
  flex-wrap: nowrap;
  position: absolute;
  width: 100%;
  top: 10px;
  justify-content: end;
  right: 40px;
}


.content_animation_letters .content__txt__contact
{
  display: flex;  
  flex-wrap: nowrap;
  position: absolute;
  top: 100px;
  width: 100%;
  justify-content: center;
}

.content_animation_letters p {
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    transition: transform 0.55s linear;
    font-family: var(--fontRoboto), system-ui;
    will-change: transform;
    position: relative;    
    color: rgba(211, 211, 211, 0.479);
  }

  @keyframes isShow {
    0%{
      opacity: 0;
    }
    80%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
  
  .content_animation_letters p .span_visibility{
    position: absolute;
    font-size: large;
    animation: trans ease-out 1s infinite;
    transition: font-size ease 5s, opacity ease 5s, color ease 2s;
    top: 0;
    left: 0;
}

.content_animation_letters p .span_hidden{
  font-size: 6vw;
  color: transparent;

}

@keyframes trans {
    0%{
      transform: scale(1,1);
    }
    35%{
      transform:scale(1.2,0.7) ;
    }
  
    70%{
      transform:scale(1,1.5) ;
    }
    100%{
      transform:scale(1,1) ;
    }
  }

/* ---TOGLE--- */

.changeStyle01{
    font-size: 1vw !important;
    opacity:0.5 

  }
  

  .isActiveStyle{
    color:lightgrey ;
    text-shadow: 3px 1px 1px rgb(1, 5, 5);
    font-size: 6vw !important;
    animation: trans ease-out 1s 1 !important;
    transition: font-size ease 1s, opacity ease 5s, color ease 2s !important; 
    
}

.isThemeLight{
  color: #3a3939a3 !important;
}

@keyframes shower {
  0%{
    scale: 100%;
  }
  40%{
    scale: 140%;
  }
  50%{
    scale: 0%;
  }
  80%{
    scale: 0%;
  }
  90%{
    scale: 140%;

  }
  100%{
    scale:100%;
    z-index: 1;

  }
}

@keyframes shower02 {
  0%{
    scale: 100%;
    z-index: 1;

  }
  15%{
    scale: 50%;
    z-index: 1;

  }
  30%{
    scale: 0%;
  }
  60%{
    scale: 0%;

  }

  100%{
    scale:100%;
  }
}