
.content__asideBar{
    position: fixed;
    top: 0;
    left: auto;
    z-index: 100;
    height: 100%;
    display: flex;
    align-items: center;
}


@media (max-width: 576px) { 
    .content__asideBar {
        left: 0px;
        right: auto;
    }
}

.content__asideBar .icon i{
    cursor: pointer;
    margin-left: 0;
}

.content__asideBar ul li{
    margin:0 20px;
    list-style: none;
    box-sizing: border-box;
}

.content__asideBar li   p{
    border-radius: 10px;    
    color: white;
    font-weight: 100;
    font-family: var(--fontRoboto);
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items:end;
}
.content__asideBar li div p{
    padding: 0 5px;
    background-color: #0f172ae4;
}


/* ////// ACTIVE P */

.content__asideBar .active{
    background: linear-gradient( 45deg,
    rgb(1, 18, 18), rgba(217, 225, 223, 0.804),rgb(9, 10, 11)
    );
    transition: background-color 1s linear;
    color: rgb(0, 0, 0);
}


.content__asideBar li div{
    text-decoration: none;
}

.content__asideBar div p:active{
    background-color: rgb(51, 59, 103);
}

.content__asideBar  .icon i:active{
color: #b7c6c3a4;}


.content__asideBar p:hover{
    color: rgb(13, 113, 189);
}

.content__asideBar li i::before:active{
    background-color: black;
}