.lock__screen {
    
    color: wheat;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    user-select: none;
    cursor:pointer;

    display: inline-flex ;
}


.txt-details {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    background: linear-gradient(to top, rgb(181, 206, 162) 60%, rgb(222, 65, 4) 50%);
    /* background-color: red; */
    background-size: 200% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: change 7s ease infinite;
}

@keyframes change {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0 0;
    }
}


.lock__screen .txt-hour {
    font-size: 6vw;
    text-align: center;
    margin: 0;
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #958377;
    text-shadow: 1px 2px 1px #1A0C19 ;
}

.txt-details .txt-date {
    text-align: end;
    margin-right: 20px;
    font-size: small;

    font-family: "Sofadi One", system-ui;
    font-weight: 400;
    font-style: normal;
}

.lock__screen .txt-title {
    font-size: 5vw;
    text-align: center;

    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #90D899;
    text-shadow: 2px 2px 1px #1A0C19 ;

}


.content-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Sofadi One", system-ui;
    font-weight: 400;
    color: #90D899;
    text-shadow: 1px 1px 1px rgb(1, 48, 4);
}

/* ////.-------------------------- */

.content-txt-lock {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.content-txt-lock .txt-msg-lock {
    animation: zoomInOut 2s ease-in-out infinite;
    width: auto;
    align-items: center;
    justify-self: center;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
}

@keyframes zoomInOut {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

.content-txt-lock .range-lock {
    width: 200px;
    border-radius: 10px;

    animation: changeColor 3s ease infinite;
    background: linear-gradient(45deg,
    #3e423e 20%, white 80%);

    /* border: solid #6f3342; */

}


.content-txt-lock .range-txt {
    background-color: green;
    height: 100%;
    border-radius: 10px;
    /* border: solid black; */
    width: 20px;
    /* background: linear-gradient(45deg, white, black); */
    background-color: #958377;
    /* width: 100px; */
}

/* /////////////////////////EYES */

.content-eye {
    position: relative;
}

.content-eye .eye {
    border: 6px solid rgb(104, 21, 21);
    overflow: hidden;
    border-style: double;
    border-radius: 0px 100px 0px 130px;
    transform: rotate(-45deg);
    width: 80px;
    height: 80px;
    margin: auto;
    position: relative;
    display: flex;
    background-color: rgb(245, 236, 232);
}



.content-eye .eye-eye {
    transform: rotate(45deg);
    width: 70px;
    height: 60px;
    margin: auto;
}

.eye .eye-eye div {
    position: absolute;
    width: 40px;
    height: 40px;
    border: solid rgba(67, 64, 64, 0.459);
    background-color: rgba(91, 88, 88, 0.459);
    /* background-color: rgb(112, 111, 14); */
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -15px;
}

.eye .eye-eye div::after {
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(16, 2, 2);
    /* background-color: rgb(58, 56, 5); */
    position: relative;
}

.eye-eye .eye-eye-eye p {
    height: 200px;
    width: 200px;
    position: absolute;
    top: 20px;
    z-index: 2;
}



/* content-theme-background */