.App-layout {
    width: 100%;
    height: 100vh;
    position: relative;
    /* display: flex; */
    /* overflow: hidden; */
}


.App-layout .content-theme-background {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 0 10px 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
    z-index: 100;
    
}




.App-layout .content-theme-background button {
    font-size:large;
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.336);
}

.App-layout ._openMenu {
    display: none;
}


/* //content__appMain */

.content__appMain {
    display: flex;
    overflow: hidden;

    position: absolute;
    left: 0;
    width: 100%;
    /* opacity: 0; */
    /* filter: blur(5px); */
    /* transform: scale(.9); */
    transition: all .2s linear;
    height: 100%;
    z-index: -1;
    /* overflow-x: hidden; */
    /* overflow: hidden; */
    /* scrollbar-gutter: stable; */
    /* overflow: scroll; */
    /* scroll-snap-type: y mandatory; */
    /* scroll-behavior: smooth; */
    /* background-color: rgb(75, 84, 84); */
}


.App-layout ._capaLayout {
    position: absolute;
    background-color: #1A1818;
    z-index: 10;
    inset: 0;
    display: none;
}


.App-layout ._capaLayoutActive02 {
    animation: _closeLayout .5s ease-in 2 alternate;

}

@keyframes _closeLayout {
    from {
        inset: 0 0 100% 0;
    }

    50% {
        inset: 0 0 95% 0;
    }

    to {
        inset: 0;
    }
}



/* -------------------------------- */
._pages {
    display: flex;
    width: 100%;
}

._pages ._aside_bar {
    position: relative;
    min-width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    transition: all .2s linear;

    background-color: #1A1818;

    z-index: 10;
}



@media screen and (max-width:720px) {

    .App-layout ._openMenu {
        display: block;
    }

    ._pages ._aside_bar {
        position: absolute;
        transform: translateX(-100%);
        min-height: 400px;
    }

}

._pages ._content_ {
    flex: 1;
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #ECE7E1;
    border-right: none;
    border-left: 20px solid #ECE7E1;
    box-sizing: border-box;
}

._pages .content__home,
._pages .content__expersite,
._pages .content__body__project,
._pages .content__contact {
    min-height: 100vh;
}

.App-layout #offCanvasOPenAside{
    width: 280px;
    background-color: #1A1818;
}

.App-layout #offCanvasOPenAside ._body {
    overflow: hidden;
     min-width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    transition: all .2s linear;
    position: relative;
    left: -20px;
    top: 0;
}


/* -----SCROLL--------- */



/* .content__appMain::-webkit-scrollbar{
    width: 10px;
    height: 5px;
} */

/* .content__appMain::-webkit-scrollbar
 {
    background: transparent;
}

.content__appMain::-webkit-scrollbar-thumb {
    background-color: #065551;
    background: linear-gradient(
        to bottom, rgb(23, 184, 224) , rgb(255, 255, 255)
    );
    background-size: 200% 200%;
}

.content__appMain::-webkit-scrollbar-thumb:hover {
    background-color: #192f63;
} */