@import url(./components/css/style.css);
@import url(./layout/css/style.css);
@import url(./pages/style/style.css);


body{
  background-color:black!important;
  background-image: url(./assets/dark-black-abstract-background-with-wood-chips.jpg);
  /* background-image: url(./assets/fondo.jpg); */
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
  
  height: 100vh;
  
}

.title__{
  position: sticky;
  top: 0;
  z-index: 1;
  color: transparent;
}
:root{
  --fontProtest: "Protest Guerrilla", sans-serif;
  --fontSofadi: "Sofadi One", system-ui;;
  --fontRoboto: "Roboto Condensed";
  --swanky: "Fontdiner Swanky", serif;
  
}


